$font-size: 50px;
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.board {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.chartApp {
  margin: 0 auto;
  width: 85vw;
  height: 60vh;
}
